* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}


:root{
	--correcto: hsl(163, 72%, 41%);
	--incorrecto: hsl(356, 69%, 56%);
	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--instagram: hsl(37, 97%, 70%) hsl(329, 70%, 58%);
	--youtube: hsl(348, 97%, 39%);
	--dark-fondo: hsl(232, 19%, 15%);
	--dark-body: hsl(230, 17%, 14%);
	--dark-card: hsl(228, 28%, 20%);
	--dark-texto: hsl(228, 34%, 66%);
	--dark-parrafo: hsl(0, 0%, 100%);
	--light-body: hsl(0, 0%, 100%);
	--light-fondo: hsl(225, 100%, 98%);
	--light-card: hsl(227, 47%, 96%);
	--light-texto:  hsl(230, 17%, 14%);
	--light-parrafo: hsl(228, 12%, 44%);

}


body{
	display: flex;
	flex-direction: column;
	justify-content: center;


}
.contenedor__texto{
	padding-bottom: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: var(--dark-body);
    padding: 30px 20px 90px 20px;
	position: relative;
    z-index: 0;
	
}

.principal{
	z-index: 100;
    position: relative;
    padding: 0px 20px 30px 20px;
    top: -55px;
	

}
.contenedor__flex{
	background: var(--dark-fondo);
	position: relative;
}

.header{
	border-bottom: 1px solid var(--dark-card);
	padding-bottom: 20px;
}
.header__titulo{
	font-size: 25px;
	color: var(--dark-parrafo);

}
.header__parrafo{
	font-size: 15px;
	color: var(--dark-texto);
	font-weight: 600;
}

.contenedor__tema{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px 0px 0px;

}
.contenedor__tema-texto{
	font-weight: 700;
	color: var(--dark-texto);
	font-size: 13px;
}

.modo{
	background: linear-gradient(90deg, rgba(55,143,230,1) 10%, rgba(62,218,130,1) 73%);
	width: 50px;
	height: 25px;
	border-radius: 100px;
	border: none;
	display: flex;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: background .3s;
}
.modo::after{
	content: "";
	width: 20px;
	height: 20px;
	background: hsl(228, 28%, 20%);
	border-radius: 100px;
	position: absolute;
	top: 2px;
	left: 3px;
	right: unset;	
}
.active{
	background: var(--claro);
}
.active::after{
	right: 3px;
	left: unset;
	background: white;
}

.contenedor__redes{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section__redes{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	gap: 20px;
	padding: 20px;
	background: var(--dark-card);
	cursor: pointer;
	transition: background .3s;
}
.section__redes-facebook{
	border-top: 4px solid var(--facebook);
}
.section__redes-twitter{
	border-top: 4px solid var(--twitter);

}
.section__redes-instagram{
	border: 4px solid transparent;
    position: relative;
	
}
.section__redes-instagram::after{
	background: linear-gradient(90deg, rgba(253,196,104,1) 37%, rgba(223,73,150,1) 90%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 100%
}
.section__redes-youtube{
	border-top: 4px solid var(--youtube);
}

.usuario{
	display: inline-flex;
	align-items: center;
	gap: 10px;
}
.usuario__texto{
	color: var(--dark-texto);
}
.follow{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
.follow__texto-titulo{
	font-size: 50px;
	color: var(--dark-parrafo);
}
.follow__texto-parrafo{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	color: var(--dark-texto);
}

.day{
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.contenedor__estadistica{
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.contenedor__estadistica-titulo{
	margin: 20px 0;
	color: var(--dark-parrafo);
}
.contenido__estadistica{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 7px;
	padding: 20px;
	background: var(--dark-card);
	transition: background .4s;
	cursor: pointer;


}

.contenido__estadistica-info{
	display: inline-flex;
	flex-direction: column;
	gap: 30px;

}

.contenido__estadistica-red{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 30px;
}
.day__top{
	color: var(--correcto);
	font-weight: 700;
	font-size: 15px;
}
.day__botton{
	color: var(--incorrecto);
	font-weight: 700;
	font-size: 15px;
}
.contenido__estadistica-porcentaje{
	display: inline-flex;
	align-items: center;

}
.contenido__estadistica-numero{
	font-size: 30px;
	font-weight: 700;
	color: var(--dark-parrafo);
}
.contenido__estadistica-titulo{
	color: var(--dark-texto);
}




.temaClaro .contenedor__texto{
	background: var(--light-fondo);
} 
.temaClaro .contenedor__flex{
	background-color: transparent;
}
.temaClaro .header__titulo{
	color: hsl(228, 28%, 20%);	
}
.temaClaro .header__parrafo{
	color: hsl(228, 34%, 66%);
}
.temaClaro .modo{
	background: hsl(230, 22%, 74%);
}
.temaClaro .contenedor__tema-texto{
	color: hsl(228, 34%, 66%);
}
.temaClaro .section__redes{
	background: var(--light-card)
}
.temaClaro .follow__texto-titulo{
	color: hsl(228, 28%, 20%);
}
.temaClaro .usuario__texto{
	color:hsl(228, 34%, 66%);	
}

.temaClaro .contenedor__estadistica-titulo{
	color: var(--light-parrafo)
}
.temaClaro .contenido__estadistica{
	background: var(--light-card);
}
.temaClaro .contenido__estadistica-numero{
	color: var(--light-texto);
}
.temaClaro .contenido__estadistica-titulo{
	color: var(--light-parrafo)
}
.temaClaro .section__redes:hover{
	background: #dee0e6b5;
}
.temaClaro .contenido__estadistica:hover{
	background: #dee0e6b5;		
}
.contenido__estadistica:hover{
	background: hsl(228, 20%, 44%);
}
.contenedor__estadistica-titulo{
	width: 100%;
}

@media screen and (min-width:500px){

	.header{
		border: none;
	}
	.header__titulo{
		font-size: 30px;
	}
	.contenedor__texto{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.contenedor__tema{
		gap: 20px;
	}

	.contenedor__redes{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	.section__redes{
		width: 100%;
		min-width: 250px;
		flex: 1;

	}
	.section__redes:hover{
		background: hsl(228, 20%, 44%);

	}
	.contenedor__estadistica{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.contenido__estadistica{
		flex: 1;
		width: 100%;
		min-width: 300px;
	}



}